.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: .75rem;
    padding-left: .75rem;
    margin-left: 0;
    margin-right: 0;
    width: calc(100% - 1.5rem);
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}