#hero {
    text-align: center;
    margin-top: 25px;
}

#hero-img {
    width: 256px;
    max-width: 100vw;
}

html, body.bg-dark {
    margin: 0;
    background-color: #402317 !important;
}
body * {
    color: #fff;
}

nav.navbar {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

.faq-container {
    margin: 15px 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: transparent 0 0 20px 0;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 200ms, box-shadow 200ms;
}

.faq-container:hover:not([open]) {
    background: rgba(0, 0, 0, .5);
}

.faq-container[open] {
    background: rgba(0, 0, 0, .75);
    box-shadow: rgba(0, 0, 0, .75) 0 0 20px 0;
}

.faq-separator {
    background-color: gray;
    margin: 1rem -20px;
}

.stylized-card {
    background: rgba(0, 0, 0, .5) !important;
    text-align: center;
}

.list-stylized {
    background: rgba(0, 0, 0, .5) !important;
    color: white !important;
}

.list-stylized:hover {
    background: rgba(0, 0, 0, .75) !important;
    color: rgba(255, 255, 255, .75) !important;
}

.list-stylized:active, .list-stylized:focus {
    background: black !important;
    color: rgba(255, 255, 255, .5) !important;
}

.list-stylized.list-stylized-static, .list-stylized.list-stylized-static:hover, .list-stylized.list-stylized-static:active, .list-stylized.list-stylized-static:focus {
    background: rgba(0, 0, 0, .5) !important;
    color: white !important;
}

.stylized-card-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
}

.col-lg-4 {
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.memberview-icon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.archive-icon {
    width: 24px !important;
    height: 24px !important;
    border-radius: 5px;
    background: rgba(255, 255, 255, .1);
}

.small-ln {
    font-size: small;
    text-decoration: none;
    opacity: .75;
    margin-bottom: 10px;
    display: inline-block;
}

.ln:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: underline;
}

.ln:active, .ln:focus {
    color: rgba(255, 255, 255, .5);
}

blockquote {
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.1rem 0 0.1rem 0.25rem;
    border-left: 3px solid white;
}

.stylized-quote {
    opacity: .5;
}

code {
    background: rgba(255, 255, 255, .1);
    padding: 2px 5px;
    border-radius: 2px;
}

pre code {
    background: transparent !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

blockquote > p:nth-child(1):nth-last-child(1) {
    margin: 0 !important;
}

.ln-hidden {
    text-decoration: none;
}

pre {
    background: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

#jb-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.jb-product {
    color: black;
}

#jb-experiences {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#homepage {
    min-height: calc(100vh - 57px);
}

.footer-link:hover {
    color: white;
    text-decoration: none;
}

.footer-link-mini {
    text-decoration: none;
    color: white;
}

.footer-link-mini:hover {
    text-decoration: underline;
    color: white;
}

#scoots {
    background: linear-gradient(90deg, #bf5d93 0%, #f9b764 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.toe-title {
    text-align: right;
}

.table tr:nth-last-child(1) td {
    border: none !important;
}

#circles {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.circle-icon {
    background-color: rgba(0, 0, 0, .25);
    width: 100px;
    height: 100px;
    border-radius: 999px;
    display: block;
    margin: 10px auto;
}

.circle-text {
    text-align: center;
}

.circle-icon-img {
    filter: invert(1);
    width: 64px;
    height: 64px;
    margin: 18px;
}

@media (max-width: 1200px) {
    #circles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    #circles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}